alphafold-yeast-uniprotKB_dubreuil2019.rds
sc_alphafold.rds
alphafold-uniprot-yeast.rds
checkpoint_test-leisr-r4s.rdata
test-leisr-r4s.r
proteome_aligned_s288c_vs_1011strains.rds
IDR-features-data.rdata
ATAR-IDR-FEATURES.tsv
HUMAN_MOBIDB_FEATURES.tsv
