uniprot-*.rds
fungi-evodata.rds
yeast_strains-evodata.rds
YK11-*.rds
YK11*.rds
proteome-properties-info.rds
proteome-1011-strains.rds
cds-1011-strains.rds
evorate-*.rds
Y8-*.rds
Y8*.rds
RESIDUE-EVORATE*.rds
YEAST_VAR_AA.rds
YEAST_VAR_NT.rds
ncbi/*
intact/*
dnaprodb/*
bindingdb/*
